body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #310d49;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

a {
    color: beige;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

.container {
    margin: 10px;
}

form {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

/* Adjusting button display */
form button {
    display: inline-block;
    font-size: 15px;
}

body {
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 98vw;
    font-family: 'Yuji Boku', serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 25px;
    font-style: normal;
}

h1 {
    text-align: center;
    color: aliceblue;
}

#forecast {
    margin-top: 250px;
}

#advice {
    margin-top: 25px;
    text-align: center;
    font-size: 35px;
    color: aliceblue;

}

h4 {
    font-size: 22px;
    margin-top: 150px;
}